/********************************************************************************************
 * styles for the viewer (main image, caption, previous/next buttons, background, close button, etc)
 * also includes (optional) gallery styling
 ********************************************************************************************/


/*
**********************************************************************
* Gallery Styles - START
* optional styles for the gallery, can be set using the riot-gallery-style class
* this can be skipped and the user can set up they own styles 
*/

/* unordered list */

ul.riot-gallery-style {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFF;
}

ul.riot-gallery-style.riot-gallery-dark {
    background-color: #000;
}

ul.riot-gallery-style li {
    width: 220px;
    min-height: 200px;
    box-sizing: border-box;
    padding: 10px;
    margin: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    
    border-radius: 8px;
    overflow: hidden;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    background-color: #DDD;
    border: 1px solid #000;
}

ul.riot-gallery-style.riot-gallery-dark li {
    background-color: #222;
    border: 1px solid #FFF;
}

ul.riot-gallery-style li img {
    max-width: 100%;
    box-sizing: border-box;
    display: block;
}

ul.riot-gallery-style li figure {
    margin: 0;
    padding: 0;
}

ul.riot-gallery-style li .riot-gallery-image-caption,
ul.riot-gallery-style li .image-caption,
ul.riot-gallery-style li figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px 8px;
    
    text-shadow: 1px 1px 3px #FFF;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

ul.riot-gallery-style.riot-gallery-dark li .riot-gallery-image-caption,
ul.riot-gallery-style.riot-gallery-dark li .image-caption,
ul.riot-gallery-style.riot-gallery-dark li figcaption {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

/*
* Gallery Styles - END
**********************************************************************
**********************************************************************
*/